
DEFAULT_PROJECT_ID=1
ODK_API_URL=[odk_url]
ODK_API_VERSION=v1
ODK_USERNAME=username
ODK_PASSWORD=password



#ACCOUNT DEFAULT INFORMATION
DEFAULT_ACCOUNT_NAME=Vman
DEFAULT_ACCOUNT_EMAIL=Vman@gmail.com
DEFAULT_ACCOUNT_PASSWORD=admin@Vman@123

MONGODB_URL=mongodb://localhost:27017
ARANGODB_URL=http://localhost:8529
DB_NAME=vman3
DB_PASSWORD=password
ARANGO_ROOT_USER=root
ARANGO_ROOT_PASSWORD=password

#settings
FRONTEND_HOST=sample_dat 
JWT_SECRET=sample_dat 
ACCESS_TOKEN_ALGORITHM=sample_dat 
ACCESS_TOKEN_EXPIRE_MINUTES=sample_dat 
REFRESH_TOKEN_EXPIRE_MINUTES=sample_dat 


#CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://127.0.0.1:4200

#force https
FORCE_HTTPS_REDIRECT=True
