version: '3.8'

services:
  web:
    build: .
    ports:
      - '8080:8080'
    volumes:
      - ./app:/app
      - ./.env:/app/.env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
